/* Font Import */
/*	font-kerning:;
	font-size:;
	font-size-adjust:;
	font-stretch:;
	font-style:;
	font-variant:;
	font-weight:;*/
@font-face {
	src: url('../fonts/MyriadPro-Light.woff') format('woff');
	font-family:"mp-light";
}
@font-face {
	src: url('../fonts/MyriadPro-Semibold.woff') format('woff');
	font-family:"mp-sbold";
}
@font-face {
	src: url('../fonts/MyriadPro-Bold.woff') format('woff');
	font-family:"mp-bold";
}
@font-face {
	src: url('../fonts/UbuntuMono-R.ttf') format('woff');
	font-family:"Monospace";
}
/* Font and Color */
body, a, h1, h2, h3, h4, h5, h6,
input, span, p, pre { font-family:'mp-light',serif; white-space:normal; word-break:normal; word-wrap:break-word; white-space:normal; text-align:left; }

a, h1, h2, h3, h4, h5, h6 { vertical-align:middle; text-align:left; }
a.fa 					  { vertical-align:middle; text-align:center; }

.left {text-align:left;}
.right {text-align:right;}
.center {text-align:center;}

.fa-0-5x	{font-size:0.5rem;} /* defaults *//* delete */
.fa-1x		{font-size:1rem !important;}
.fa-1-25x	{font-size:1.25rem !important;}
.fa-1-5x	{font-size:1.5rem !important;}
.fa-1-75x	{font-size:1.75rem !important;}
.fa-2x		{font-size:2rem;}
.fa-2-5x	{font-size:2.5rem;}
.fa-3-5x	{font-size:3.5rem;}

/* mobile screens */
@media screen and (min-width:  0px) and (orientation:portrait){}
@media screen and (min-width:240px) and (orientation:portrait){}
@media screen and (min-width:320px) and (orientation:portrait){}
@media screen and (min-width:320px) and (orientation:portrait){}
@media screen and (min-width:320px) and (orientation:portrait){}
@media screen and (min-width:360px) and (orientation:portrait){}
@media screen and (min-width:375px) and (orientation:portrait){}
@media screen and (min-width:414px) and (orientation:portrait){}


/* tablet screens */
@media screen and (min-width:800px) and (orientation:landscape){
	a.fa{font-size:1.25rem;}
}
/* desktop screens */
@media screen and (min-width:1024px) and (orientation:landscape){
	a.fa{font-size:1.5rem;}
}

/* LANDSCAPE SCREEN */
/* ? more breakpoints ? height 600, 768+
@media screen and (min-width:0px)    and (orientation:landscape){}
@media screen and (min-width:768px)  and (orientation:landscape){}
@media screen and (min-width:1024px) and (orientation:landscape){}
@media screen and (min-width:1280px) and (orientation:landscape){}
@media screen and (min-width:1440px) and (orientation:landscape){}
@media screen and (min-width:1920px) and (orientation:landscape){}
@media screen and (min-width:2560px) and (orientation:landscape){}
 */



/* PRINT CSS */

@media print {}
