//- master layout.pug 1-lvl
//- root qr.pug 0-lvl
//-
//-     FUNKTIONIERT
//-     LOGGT SICH MIT DER HOSITNG DOMAIN EIN 
//-     SESSION GEHT BEIM REDIRECT NICHT VERLOREN
//-     ABER IWI LANGSAM
//-
extends index.pug

block style
    style(type='text/css').


        header a.fa-question-circle,
        header a.fa-question-circle-o{
            position: absolute;
            right:0px;
        }
        header a.fa-cog,
        header nav#cfg-navigation{
            position: absolute;
            right:0px;
            bottom:0px;
        }
        header nav#cfg-navigation{
            bottom:32px;
            width:32px;
        }
        header user{
            position: absolute;
            bottom: 0px;
            max-width:10%;
            overflow: hidden;
        }
        user span,
        user a.fa{
            height:18px;
            line-height: 18px;
            vertical-align: middle;
        }
        user span.fa,
        user a.fa{
            width:18px;
            text-align: center;
        }


        form input,
        form a,
        form span {
            display:block;
            width: 100%;
            height: 32px;
            font-size: 1.25em;
            line-height: 32px;
            vertical-align: middle; 
        }


        /* index specific code...story line... */
        div#story{
            height: 100%;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
        }

        div#story div.page{
            width: 100%;
            height: 100%;
            display: inline-block;
            overflow: hidden;
            position: relative;
        }

        div#story div.page div{
            width: 66%;
            height: 75%;
            left: 17%;
            top: 12.5%;
            position: absolute;
            background-color:rgba(34,34,34,1); 
            color:red;
        }
        div#story div.page a.fa{
            color:red;
        }

block root
    header
        img.after-effect
        section#content

        a.fa.fa-question-circle-o.fa-1-5x(href='#', call='cfg-help')
        a.fa.fa-cog.fa-1-5x(href='#', call='cfg-toggle')
        nav#cfg-navigation.hide
            a.fa.fa-cog.fa-1-5x(href='#', call='')
            a.fa.fa-cog.fa-1-5x(href='#', call='')
            a.fa.fa-cog.fa-1-5x(href='#', call='')
        a#footer-toggle.fa.fa-chevron-up(href='#', call='footer-toggle')
        user
            a.fa.fa-lock(href='#', call='')
            a.fa.fa-user(href='#', call='')
            if cre != null
                span #{cre.mail}
            else
                span
        popup.hide
        overlay.hide
    footer
        form
        form
        form
            a(href='#', call='') License
            a(href='#', call='') Impressum