        /* Font and Color */
        * {margin: 0px;padding: 0px;}
        /* Geometry */
        html,body { position:absolute; height:100%; width:100%; padding:0px; margin:0px; overflow:hidden; }

        .hide{
            display:none;
        }
        .fa-1-5x{
            font-size:1.5em;
        }
        a.fa{
            width: 32px;
            height: 32px;
            line-height: 32px;
            vertical-align: middle;
            text-align: center;
        }

        body header {
            overflow:hidden;
            position:relative;
            width:100%;
            height:100%;
        }
        header a.fa-chevron-up,
        header a.fa-chevron-down{
            position: absolute;
            width: calc(100% - 32px - 10%);
            height: 14px;
            left:10%;
            bottom: 0px;
            line-height: 14px;
            vertical-align: middle;
            text-align: center;
        }
        body popup {
            font-size:2em;
            color:white;
            position: fixed;
            min-width: 32px;
            max-width: calc(100%);
            min-height: 32px;
            max-height: calc(100%);
            word-wrap: break-word;
        }

        body overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(255,255,255,0.7);
        }
        header section#content{
            position: absolute;
            top: 0px;
            width: 100%;
            height: 100%;
        }
        body footer {
            position:relative;
            width:100%;
            height:35%;
        }
        footer form{
            width: calc(25% - 2*4em);
            height: calc(100% - 2*4em);
            padding: 4em;
            float:left;
        }
        footer form.half{
            width: calc(50% - 2*4em);
        }
        header img.after-effect,
        footer img.after-effect{
            width:100%;
            height:100%;
        }
        header canvas {
            position: absolute;
        }